#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-img {
    height: 96vh;
}

#end-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: orange;
}

.char-select {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    border-radius: 8px;
}

.char:hover {
    cursor: pointer;
    color: orange;
}

#character-list, #empty-character-list-msg {
    gap: 8px;
    display: flex;
    font-weight: bold;
    justify-content: end;
    width: 75%;
}

.character-list-img {
    height: 50px;
}