* {
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-img {
    height: 96vh;
    margin-bottom: 16px;
    border: 3px solid white;
}

#character-list {
    position: sticky;
    top: 0;
}

#character-list, #empty-character-list-msg {
    gap: 36px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    background-image: url('../images/stripe.jpg');
    height: 110px;
    background-size: auto;
}

.character-list-item {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid lightgray;
    padding: 4px;
}

.character-list-name {
    background-color: #fefefe;
}

.character-list-img {
    height: 50px;
}

#play-again-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

#play-again-btn:hover {
    color: white;
    cursor: pointer;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
}

#empty-character-list-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    -webkit-text-stroke: 1px gray;
    font-weight: bold;
    font-size: 64px;
}
